<div class="container">

    <div *ngFor="let annonce of listeAnnonce">
        <!--Article 1-->
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card" (click)="show_article(annonce.id)">
                    <div class="card-horizontal">
                        <div class="card" style="width: 18rem; ">
                            <div class="card-body">
                                <img mat-card-image src="./assets/article_img/switch.jpg" alt="Photo of a Shiba Inu">
                            </div>
                        </div>

                        <div class="card-body">
                            <h4 class="card-title">{{ annonce.titre }}</h4>
                            <p class="card-text">{{ annonce.details }}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Mise en ligne il y a 1 heure, par Richard</small>
                    </div>
                </div>
            </div>
        </div>
    </div>