<div class="container">

    <div *ngFor="let annonce of annonces" (click)="onSelect(annonce)" [class.selected]="annonce === selectedAnnonce">
        <!--Article 1-->
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">

                    <div class="card-horizontal" (click)="getIdArticle(annonce.Id)" >

                        <div class="card" style="width: 18rem;" *ngIf='annonce.UrlPhoto == ""; else notShow'>
                            <img class="card-img-top" src='../assets/default.png' alt="Card image cap">
                        </div>
                        <ng-template #notShow>
                            <div class="card" style="width: 18rem; ">
                                <a routerLink="/annonce/{{annonce.Id}}"><img class="card-img-top" src="{{ annonce.UrlPhoto }}" alt="image annonce"></a>
                            </div>
                        </ng-template>

                        <div class="card-body">
                            <h4 class="card-title">{{ annonce.Titre }}</h4>
                            <p class="card-text">{{ annonce.Details }}</p>
                            <div class="price">
                                <span>Prix</span>
                                <p>{{ annonce.Prix }} €</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Mise en ligne il y a 1 heure, par Richard</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
