@import '~bootstrap/dist/css/bootstrap.min.css';

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
   /* background-image: url('../assets/article_img/sun.jpg');*/
    background-size: cover;
  }

  div.container{
      background : #F2F2F2;
      border-radius: 0.2cm;
  }
  button.about{
      float: right;
  }

  .container{
    margin-top:1em;
  }

  div.description{
      padding-top: 10px;
  }

  div.row{
      margin-top: 2em;
  }

  /* card */
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
/*
survol d'un article 
*/
div.card-horizontal:hover{
    opacity: 0.75;
    cursor: pointer;

}