<div class="container">

    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="./assets/article_img/switch.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Nitendo switch</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Mise en ligne il y a 1 heure</small>
                </div>
            </div>
        </div>
    </div>  
  
      <div class="row">
          <div class="col-12 mt-3">
              <div class="card">
                  <div class="card-horizontal">
                      <div class="img-square-wrapper">
                          <img class="" src="./assets/article_img/switch.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                          <h4 class="card-title">Moto</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
                  <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
              </div>
          </div>
      </div>
</div>
    




<!--<div class="card" style="width: 18rem; margin-top:2em;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    </div>
   </div>
   <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
    <button>Voir plus..</button>
  </div>-->