<br>
<div class="container">
  <div class="row">
    <!-- FORMULAIRE CREATION -->
    <div class="col-md-12">
      <div class="card">
          <div class="card-header">
            Publier une annonce
          </div>
          <div class="card-body">
              <div class="form-group">
                <label for="titre">Categorie:</label>
                <select [(ngModel)]="annonce.Categorie"  class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor="let categorie of categories" [ngValue]="categorie">{{categorie.Libelle}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="titre">Titre:</label>
                <input [(ngModel)]="annonce.Titre" type="text" placeholder="Saisir un titre" name="titre" class="form-control" id="titre">
              </div>

              <div class="form-group">
                <label for="details">Details :</label>
                <textarea [(ngModel)]="annonce.Details" rows="5" placeholder="Saisir les details" name="details" class="form-control" id="details"></textarea>
              </div>
              <div class="form-group">
                <label for="prix">Prix :</label>
                <input [(ngModel)]="annonce.Prix" type="number" placeholder="Saisir un prix" name="prix" class="form-control" id="prix">
              </div>
              <div class="row">
                <div class="form-group">
                  <label for="exampleFormControlFile1">Photo</label>
                  <input [(ngModel)]="annonce.UrlPhoto" (change)="onFileSelected($event)"  type="file" placeholder="Choisir une photo" name="photo" class="form-control-file" id="photo">
                </div>
                
              </div>
              
              <hr>
              <button (click)="save()" (click)="onUpload()">Publier l'annonce</button>

          </div>
        </div>
    </div>
  </div>

