<div class="card mb-3">
  <img src='../assets/sun.jpg' class="card-img-top" alt="...">
</div>
<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div #menu (click)='Refresh()'  class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/homepage">Voir les annonces</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/add-annonce">Publier une annonce</a>
      </li>

      <div *ngIf="authenticationService.isLogged; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
          <li class="form-inline my-2 my-lg-0">
              <a class="nav-link my-2 my-sm-0" href="#">Mon compte</a>
            </li>
            <li class="form-inline my-2 my-lg-0">
                <a class="nav-link my-2 my-sm-0" (click)="logout()" href="#">Se Déconnecter</a>
            </li>
      </ng-template>
      <ng-template #elseBlock>
          <li  class="form-inline my-2 my-lg-0">
              <a  class="nav-link my-2 my-sm-0" routerLink="/login">Se connecter</a>
            </li>
      </ng-template>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Recherche.." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Trouver</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
