@import '~bootstrap/dist/css/bootstrap.min.css';

/* Couleur de la bar en haut de la nav */
mat-card {
    background: url('../assets/sun.jpg');
    font-family: 'Britannic Bold';
    font-size: 2em;
    height: 200px;
    text-align: center;
}

.navbar{

    background-color: #E8CC06;

}


li a.nav-link {

color: white;
font-family: 'Broadway';
font-size: 1em;
}


