@import '~bootstrap/dist/css/bootstrap.min.css';

/* Couleur de la bar en haut de la nav */
nav{

    margin-top: -17px;
    /*background: orange;*/
}


.navbar{

    background-color: #E8CC06;

}


li a.nav-link {

color: white;
font-family: 'Broadway';
font-size: 1em;
}

a.connexion{
    float: right;
}


